.Learning{
    background: url('./learn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:1200 px;
    background-position: 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learnH{
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
    padding-top: 90px;
    text-align: center;
    text-decoration: underline
}

.learnTop{
    background: url('../../Common-bg.png');
    background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 0%;
}

