.cd-section {
    height: 100vh;
}

.home-container{
  color: #ffffff;
}

/* Section 1 */

.section1 {
    width: 100%;
    height: 100vh;
    background-image: url('./bg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.frontpage-shlok {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: 32px;
  line-height: 100px;
  margin-top: 200px;
  margin-left: 80px;
}

.frontpage-shlok-content {
  margin-bottom: 15px;
}

.frontpage-start-btn {
  text-decoration: none;
  text-align: center;
  margin-left: 200px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 24px;
}

.frontpage-start-btn:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.2s ease-in all;
}

/* Section 2 */

.section2 {
  width: 100%;
  height: 100vh;
  background-image: url('./homepage-bg2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.frontpage-cards-flex {
  color:black;
  display: flex;
  justify-content: space-evenly;
}

.frontpage-cards-flex LinkRoute {
  text-decoration: none;
}

.frontpage-card {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  margin-top: 150px;
  background-color: white;
  padding: 200px 100px;
  border-radius: 15px;
  font-size: 28px;
}

.frontpage-card:hover {
  color: black;
  transform: scale(1.06);
  transition: 0.05s all ease-in;
  font-size: 30px;
}

.frontpage-card:hover {
  opacity: 0.5;
  text-decoration: none;
}

.frontpage-card-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 80px;
}

/* Section 3 */

.section3 {
  width: 100%;
  height: 100vh;
  background-image: url('./news-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.frontpage-news-heading {
  padding-top: 50px;
  margin-top: 0px;
  font-size: 60px;
  text-align: center;
}

.magazine-row {
  display: flex;
  justify-content: space-evenly;

}

.magazine-paper{
  text-decoration: none;
  padding: 50px 150px;
  background: url('./newspaper.png');
  background-size: 100% 100%;
}

.magazine-paper-heading {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 24px;
}

.e-newspaper:hover {
  transform: scale(1.05);
}

.magazine {
  width: 150px;
  height: 150px;
  background-color: wheat;
}

.magazine-heading {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 20px;  
}

.news-section-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}

.magazine-flex {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  justify-content: space-between;
  align-items: space-evenly;
}

.magazine-flex a {
  text-decoration: none !important;
}

#sanskritavarta {
  background: url('./sanskritavarta.png');
  background-size: 100% 100%;
}

#chandamama {
  background: url('./chandamama.jpeg');
  background-size: 100% 100%;
}

#samprativartah {
  background: url('./samprativartah.jpg');
  background-size: 100% 100%;
}

/* Top Button */

.top-button {
  opacity: 0.7;
  background: rgb(175, 169, 169);
  padding: 0px 5px 0px 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.top-button:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Section 1 fade in Animation */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn-shlok { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn-shlok { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn-shlok { from { opacity:0; } to { opacity:1; } }

.fade-in-shlok {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn-shlok ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn-shlok ease-in 1;
  animation:fadeIn-shlok ease-in 1;

  -webkit-animation-fill-mode:forwards;  /*this makes sure that after animation is done we remain at the last keyframe value (opacity: 1) */
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}


/* Section 2 zoom animation */

.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

.animate-in {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.animate-out {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;

  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.animate-out:after {
  content: '';
  letter-spacing: inherit;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

.animate-in.animationDelay, .animate-out.animationDelay {
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animate-in.animationDelayMed, .animate-out.animationDelayMed {
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animate-in.animationDelayLong, .animate-out.animationDelayLong {
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animate-in.fadeIn, .animate-out.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

/* Side Scroll bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.829); 
}