@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


.game-rules-pic{
    display: flex;
    flex-direction: column;
    background-image: url('./gbrules.png');
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 700px;
    margin-top: 1rem;
    background-color: #ffffff00;
    
}

.quiz-rules-container {
   
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    background-position: center;
    margin-left: 40rem;
    margin-right: 20rem;
    height: 100vh;
    margin-top: 14rem;;
}

.rule {
    display: flex;
    width: 800px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.3rem;    
    background-color: #ffffff00;
    color: black;
    border-radius: 10px;
    
}

.rules-buttons {
    display: flex;
    width: 580px;
    margin-top: 80px;
    justify-content:space-around;
    margin-right: 100px;
}

.quit, .continue {
    text-decoration: none;
    background-color: white;
    padding: 20px 10px;
    color: black;
    border-radius: 10px;
}

.rules_heading {
    font-size: 4rem;
    margin: 180px;
    
}

.info-list {
    font-family: Crimson-Text, sans-serif;
    margin: 50px 10px 0.1px 20px;
    font-size: 2.5rem;
    background-position: center;
}


.ruleTime {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.continue {
    background-color: rgb(216, 255, 214);
}
.quit{
     background-color:pink;
}
.continue:hover {
    color: white;
    background-color: green;
}

.quit:hover {
    color: white;
    background-color: red;
}

@media screen  and (max-width: 600px){
    .info-list {
        letter-spacing: normal;
    }
    .game-rules-pic{
        width: 100%;
        margin: auto;
    }
    .rule {
        padding: 20px;
    }
    .rules_heading {
        margin-bottom: 0px;
    }
    .info-list {
        font-size: 1.5rem;
    }
    .ruleTime{
        font-size: 1.6rem;
    }
    .buttons {
        width: 100%;
    }
}
