.memoryGame-container {
	height: 100vh;
	color: #ffffff;
}

.memoryGame-flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.memoryGame-grid{
	background:#fff;
	border:#999 1px solid;
	width:700px;
	height:700px;
	padding:24px;
	margin:10px auto;
}

.memoryGame-grid > img {
	margin: 5px;
}

.memoryGame-score {
	font-size: 35px;
	text-align: center;
}

#memoryGame-result {
	margin-left: 10px;
}

.memoryGame-heading {
	text-align: center;
	font-size: 40px;
}

.memoryGame-instr-heading {
	text-align: center;
	font-size: 24px;
}

.memoryGame-instr-content {
	font-size: 16px;
}