.foo{
    width: 100%;
    background: url('./g1.png') no-repeat center fixed;
    background-size: cover;
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight:normal;
    font-size: 25px;
    line-height: 40px;
    color: #f9f2ff;
    text-align: left;
    padding: 100px 300px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #13003F;
  }


  .paragraph{
    font-size: 25px;
  }