.foo{
   
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight:normal;
    font-size: 25px;
    line-height: 40px;
    color: #f9f2ff;
    text-align: left;
    padding: 100px 300px;
}

.gramTop{
  width: 100%;
  background: url('./grammer-bg.png');
  background-size: 100% 100%;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #13003F;
  }


  .paragraph{
    font-size: 25px;
    font-weight: 600;
  }