.foo{
    background: linear-gradient(to right, #13003F , #4F0258);
    background-size: cover;
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    text-align: left;
    padding: 100px 300px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #13003F;
  }

  .paragraph{
    font-size: 20px;
  }